name: Python CI/CD with Docker (Local Deploy)

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t ci-demo .

      - name: Run Docker container locally
        run: docker run -d --name ci-demo -p 5000:5000 ci-demo:latest
