name: Python CI with Docker

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t ci-demo .

      - name: Run Docker container
        run: docker run --rm ci-demo
